// =============================================
// Header Settings
// =============================================
$header-color: map-get($global-colors, blue);
$header-color-alt: map-get($global-colors, white);
$header-border: 5px solid $header-color;

// =============================================
// Header Styles
// =============================================
.header {
	@extend %clearfix;
	@include media($lap-small) {
		@include outer-container(70em);
	}
	a {
		@extend %inline-block;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
}

.logo {
	font-size: $h4-font-size;
	float: left;
	// text-shadow: 1px 1px 1px darken(map-get($global-colors, blue), 15%);
}

.header-wrap {
	@extend %clearfix;
	padding: $base-unit-half $base-unit;
	@include media($lap-small) {
		float: left;
	}
}

.btn-menu {
	background: transparent;
	color: $header-color;
	float: right;
	font-size: $h6-font-size;
	padding: $base-unit-quarter;
	@include media($lap-small) {
		display: none;
	}
	&:before {
		@include fa-icon('\f0c9', before);
	}
	&.active:before {
		@include fa-icon('\f00d', before);
	}
}

.nav.is-open {
	margin-top: 0;
}

.nav {
	background: $header-color;
	margin-top: -100px;
	padding-top: $base-unit-half;
	@include transition(margin 0.5s ease-in-out);
	@include media($lap-small) {
		@include transition(none);
		background: none;
		float: right;
		margin-top: 0;
	}
	ul {
		@extend %no-margin;
		@extend %no-padding;
	}
}

.nav-item {
	list-style-type: none;
	@include media($lap-small) {
		display: inline-block;
	}
	a {
		border-radius: 15px;
		color: $header-color-alt;
		padding: $base-unit * 0.75;
		text-align: center;
		width: 100%;
		@include transition(all 0.5s ease-in-out);
		@include media($lap-small) {
			color: $header-color;
			padding: $base-unit-half;
			position: relative;
			width: auto;
		}
	}
	a:hover {
		text-decoration: underline;
	}
}
