// =============================================
// Header Settings
// =============================================
$header-color: map-get($global-colors, blue);
$header-border: 5px solid $header-color;

// =============================================
// Header Styles
// =============================================
.header-primary {
	@extend %clearfix;
	@extend %pad-top;
	@extend %pad-bottom;
	border-top: $header-border;
	a {
		@extend %inline-block;
		color: $header-color;
		text-decoration: none;
	}
	.logo {
		@extend %text-align-center;
		font-size: $h4-font-size;
		@include media($lap-small) {
			float: left;
		}
	}
}

.nav-primary {
	@include media($lap-small) {
		float: right;
	}
	a {
		color: $header-color;
		font-size: $base-font-size;
		padding: $base-unit-half;
		position: relative;
	}
	a:hover {
		text-decoration: none;
	}
	a:hover:after {
		content: '';
		border-bottom: 3px solid $header-color;
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}
	i {
		display: none;
		@include media($palm-large) {
			display: inline-block;
		}
	}
}
