// =============================================
// Header Settings
// =============================================

// =============================================
// Header Styles
// =============================================
.header-primary {
	// border: 1px solid black;
	@extend %clearfix;

	a {
		// border: 1px solid red;
		display: inline-block;
		text-decoration: none;
	}
	.logo {
		@extend %text-align-center;
		font-size: $h3-font-size;
		@include breakpoint($lap-small) {
			float: left;
		}
	}
}

// .header-primary .logo {
// 	float: left;
// }


