// =============================================
// Hero Settings
// =============================================
$hero-blue: map-get($global-colors, blue);
$hero-blue-dark: darken($hero-blue, 10%);

// =============================================
// Hero Styles
// =============================================
.hero {
	@extend %section-spacing;
	background: $hero-blue;
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	padding-top: 3em;
	padding-bottom: 3em;
	@include media($lap-small) {
		padding-top: 5em;
		padding-bottom: 5em;
		min-height: 15em;
	}
}

.hero-intro {
	@extend %g-row;
	color: map-get($global-colors, white);
	text-shadow: 2px 2px 2px darken($header-color, 10%);
	@include animation(heroIntro 1s ease-in);
	@include transition(all 1s ease-in);
}

.hero-headline {
	font-size: $h3-font-size;
	font-family: $font-lato;
	font-weight: 900;
	margin-bottom: $base-unit-half;
	@include media($lap-medium) {
		font-size: $h1-font-size;
	}
}

.hero-tagline {
	font-size: $h5-font-size;
	@include media($lap-medium) {
		font-size: $h3-font-size;
	}
}
