// =============================================
// Hero Settings
// =============================================
$hero-bg: map-get($global-colors, blue);

// =============================================
// Hero Styles
// =============================================


.hero {
	@extend %text-align-center;
	@extend %position-relative;
	@extend %margin-bottom;
	// background: $hero-bg;
	// background: rgba();
	// color: map-get($global-colors, white);
	padding-top: 3em;
	padding-bottom: 3em;
}

.hero-headline {
	font-size: $h3-font-size;
	margin-bottom: $base-unit-half;
	@include breakpoint($lap-medium) {
		font-size: $h1-font-size;
	}
}

.hero-tagline {
	font-size: $h5-font-size;
	@include breakpoint($lap-medium) {
		font-size: $h3-font-size;
	}
}
