$section-color: map-get($global-colors, black);

.about {
	@extend %margin-top;
	@extend %margin-bottom;

	.bio-photo {
		@extend %margin-auto;
		@extend %block;
		// border-radius: 50%;
		border-radius: 8px;
		max-width: 50%;
		@include breakpoint($lap-small) {
			max-width: 100%;
		}
	}
}

.thoughts {
	@extend %margin-top;
	@extend %margin-bottom;
}

.toolset {
	@extend %margin-top;
	@extend %margin-bottom;
}

.section-headline {
	border-bottom: 1px solid map-get($global-colors, gray);
	// color: lighten($section-color, 5%);
	margin-bottom: $base-unit-half;
	font-size: $h4-font-size;
	@include breakpoint($lap-small) {
		font-size: $h3-font-size;
	}
}
