// Custom

a {
  color: #357edd;
  text-decoration: none;
}

.td-underline {
  @include rem(box-shadow, inset 0 -4px 0 #357edd);
}

.d-inline-block-sm {
  display: none;

  @media(min-width: $breakpoint-sm) {
    display: inline-block;
  }
}

.section-header {

  &:after {
    content: " ";
    display: block;
    width: 100px;
    height: 4px;
    background: #ddd;
    margin-top: 25px;
  }
}

.bs-border {
  @include rem(box-shadow, inset 0 -2px rgba(0,0,0,0.20));
}

.mm-blog-copy p {
  font-size: 16px;
  line-height: 1.5;
}

.article-list:not(:last-child) {
  @include rem(border-bottom, 1px solid #eee);
}
