//
// Base Colors
//

.c-white  {
  color: $white;
}

.c-black {
  color: $black;
}

.c-gray {
  color: $gray;
}

.c-gray-light {
  color: $gray-light;
}

.c-gray-dark {
  color: $gray-dark;
}

.c-blue {
  color: $blue;
}

.c-blue-dark {
  color: $blue-dark;
}

//
// Background Colors
//

.bg-white {
  background-color: $white;
}

.bg-white-offset {
  background-color: $white-offset;
}
