// =======================================
// Header Settings
// =======================================
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.5;
$h2-font-size: $base-font-size * 2.25;
$h3-font-size: $base-font-size * 2;
$h4-font-size: $base-font-size * 1.75;
$h5-font-size: $base-font-size * 1.5;
$h6-font-size: $base-font-size * 1.25;
$header-line-height: 1.25;
$header-map: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  h4: $h4-font-size,
  h5: $h5-font-size,
  h6: $h6-font-size
);

// =======================================
// Silent base headline class
// =======================================
%base-headline {
  line-height: $header-line-height;
  margin: 0;
}

// =======================================
// loop through header map and return
// the header tag and size
// =======================================
@each $h-type, $h-size in $header-map {
	#{$h-type},
	.#{$h-type}-font-size {
		@extend %base-headline;
		font-size: $h-size;
	}
}

// =======================================
// Typography Styles
// =======================================
body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  // font-size: 90%;
  line-height: $base-line-height;
  // @include breakpoint($lap-small) {
  //   font-size: 100%;
  // }
  @include media($lap-small) {
    border-top: 5px solid map-get($global-colors, blue);
  }
}

p {
  margin: 0 0 $base-unit 0;
}

a {
  color: $base-link-color;
  text-decoration: none;
}

a:hover {
  color: $base-link-color;
  text-decoration: underline;
}

a:focus,
a:active {
  color: $base-link-color;
  outline: none;
}

blockquote {
  // border-left: 2px solid $base-border-color;
  // color: lighten($base-font-color, 15);
  margin: $base-unit 0;
  padding-left: $base-unit-half;
}
