// Typography
// ========================================

// Base

html {
  color: $black-offset;
  font-family: sans-serif;
  font-size: $base-font-size;
  line-height: 24px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100% ;
}

// Heading sizes

h1 {
  font-size: $s-alpha;
}

h2 {
  font-size: $s-bravo;
}

h3 {
  font-size: $s-charlie;
}

h4 {
  font-size: $s-delta;
}

h5 {
  font-size: $s-echo;
}

h6 {
  font-size: $s-foxtrot;
}

// Margins

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 $baseline-base 0;
}

// Bolds

b,
strong {
  font-weight: 600;
}

// Abbreviations

abbr[title] {
  border-bottom: 1px dotted;
}

// Horizontal rule

hr {
  box-sizing: border-box;
  height: 0;
}

// Code

code,
kbd,
pre,
samp {
  color: $gray;
  font-family: $font-family-monospace;
}

pre {
  // +rem(margin, 0 0 $baseline-base 0);
  white-space: pre-wrap;
}

// Address

address {
  font-style: normal;
}

// Quotes

blockquote {
  margin: 0;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

// Small

small {
  font-size: $s-golf;
}

// Sub & sup

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Links

a {
  background: transparent;
  color: $blue;
  outline: 0;
  text-decoration: none;

  &:focus {
    outline: thin dotted;
  }

  &:active,
  &:hover {
    outline: 0;
    color: $blue-dark;
  }
}

