<footer class="cf dark-gray w-100">
  <div class="mw9 center ph3 ph4-m ph5-l pv3">
    <div class="dt-ns w-100">
      <p class="dtc-ns">&copy; <%= Date.today.year %> Happy <span data-today></span>! </p>

      <ul class="dtc-ns tr-ns social-icons ma0 pa0">
        <%= partial("partials/social-list") %>
      </ul>
    </div>
  </div>
</footer>
