// ========================================
// Borders
// ========================================

$border-color: $gray-light;
$border-style: solid;
$border-width: 1px;

// Default border styling

.b-all {
  border-style: $border-style;
  border-width: $border-width;
}

.b-top {
  border-top-style: $border-style;
  border-top-width: $border-width;
}

.b-right {
  border-right-style: $border-style;
  border-right-width: $border-width;
}

.b-bottom {
  border-bottom-style: $border-style;
  border-bottom-width: $border-width;
}

.b-left {
  border-left-style: $border-style;
  border-left-width: $border-width;
}

.b-all,
.b-top,
.b-right,
.b-bottom,
.b-left {
  border-color: $border-color;
}

.b-0,
.b-none {
  border: 0;
}

// State

.b-active {
  border-color: $blue;
}

.b-offset {
  border-color: $white-offset;
}

.b-gray {
  border-color: $gray;
}

// Border Radius

.br-circle {
  border-radius: 50%;
}

.br-all {
  border-radius: $border-radius-base;
}

.br-mini {
  border-radius: $border-radius-mini;
}

.br-0,
.br-none {
  border-radius: 0;
}

// Corners $border-radius-base

.br-top {
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
}

.br-right {
  border-bottom-right-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
}

.br-bottom {
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}

.br-left {
  border-bottom-left-radius: $border-radius-base;
  border-top-left-radius: $border-radius-base;
}

// Corners $border-radius-mini

.br-top-mini {
  border-top-left-radius: $border-radius-mini;
  border-top-right-radius: $border-radius-mini;
}

.br-right-mini {
  border-bottom-right-radius: $border-radius-mini;
  border-top-right-radius: $border-radius-mini;
}

.br-bottom-mini {
  border-bottom-left-radius: $border-radius-mini;
  border-bottom-right-radius: $border-radius-mini;
}

.br-left-mini {
  border-bottom-left-radius: $border-radius-mini;
  border-top-left-radius: $border-radius-mini;
}
