// =============================================
// Button Settings
// =============================================
$btn-background-default: $color-gray;
$btn-background-primary: $color-blue;
$btn-background-secondary: $color-blue-light;
$btn-background-success: $color-green-light;
$btn-background-danger: $color-red;
$btn-background-cta: $color-yellow;
$btn-color-default: $color-white;
$btn-small: $base-unit-quarter $base-unit-half;
$btn-normal: $base-unit-half $base-unit;
$btn-large: $base-unit ($base-unit * 1.5);
$btn-width: auto;
$btn-width-full: 100%;
$btn-radius: 5px;
$btn-radius-none: 0;

// List of button values to iterate over
$btn-map:
	("btn-primary", $btn-normal, $btn-background-primary, $btn-color-default, $btn-width, $btn-radius),
	("btn-secondary", $btn-normal, $btn-background-secondary, $btn-color-default, $btn-width, $btn-radius),
	("btn-warning", $btn-normal, $btn-background-cta, $btn-color-default, $btn-width, $btn-radius),
	("btn-success", $btn-normal, $btn-background-success, $btn-color-default, $btn-width, $btn-radius),
	("btn-danger", $btn-normal, $btn-background-danger, $btn-color-default, $btn-width, $btn-radius);

// =======================================
// Button Styles
// =======================================
// Silent base button style
%btn {
	-webkit-appearance: none;
	-webkit-border-radius:0;
	background-color: $btn-background-default;
	border: none;
	color: $btn-color-default;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	margin: 0;
	padding: $btn-normal;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	@include transition(all 0.3s ease-in);
}

// loops through each value in the $btn-map above and
// generates the CSS according to what's passed in.
@each $btn-name, $btn-size, $btn-background, $btn-color, $btn-width, $btn-radius in $btn-map {
	.#{$btn-name} {
		@extend %btn;
		background: $btn-background;
		border: 1px solid darken($btn-background, 10%);
		color: $btn-color;
		padding: $btn-size;
		width: $btn-width;
		@include border-radius($btn-radius);
		&:hover {
			background: lighten($btn-background, 10%);
			color: $btn-color;
			text-decoration: none;
		}
	}
}
