// ========================================
// Padding
// ========================================

@each $name, $value in $baselines {
  .p-#{$name},
  .py-#{$name} {
    padding-bottom: $value;
    padding-top: $value;
  }

  .pt-#{$name} {
    padding-top: $value;
  }

  .pb-#{$name} {
    padding-bottom: $value;
  }
}

// Horizontal alignment ($gutters)

.pl {
  padding-left: $gutter;
}

.pl-half {
  padding-left: $gutter-half;
}

.pl-third {
  padding-left: $gutter-third;
}

.pl-quarter {
  padding-left: $gutter-quarter;
}

.pr {
  padding-right: $gutter;
}

.pr-half {
  padding-right: $gutter-half;
}

.pr-third {
  padding-right: $gutter-third;
}

.pr-quarter {
  padding-right: $gutter-quarter;
}

.py {
  padding-bottom: $baseline-base;
  padding-top: $baseline-base;
}

.px {
  padding-left: $gutter;
  padding-right: $gutter;
}

.px-half {
  padding-left: $gutter-half;
  padding-right: $gutter-half;
}

.px-third {
  padding-left: $gutter-third;
  padding-right: $gutter-third;
}

.px-quarter {
  padding-left: $gutter-quarter;
  padding-right: $gutter-quarter;
}

// Resets

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}
