// =============================================
// Panel Settings
// =============================================

// =============================================
// Panel Styles
// =============================================
%panel {	
	@include clearfix;
	@include border-radius(5px);
}

.g-panel {
	@extend %panel;
	background: $color-gray-light;
	margin-bottom: $base-unit;
	padding: $base-unit-half;
	p {
		margin: 0;
		text-align: center;
	}
}
