// =======================================
// Player Settings
// =======================================
$player-width: 200px;

// =======================================
// Player Styles
// =======================================
.player {
	border: 1px solid $color-gray;
	margin: 0 auto;
	width: $player-width;
	@include clearfix;
	@include border-radius(5px);
}
