// =============================================
// Footer Settings
// =============================================

// =============================================
// Footer Styles
// =============================================

%hero {
	min-height: 10em;
	@include clearfix;
}

.primary-hero {
	@extend %hero;
	background: $color-blue;
	color: $color-white;	
}

.styleguide-hero {
	@extend %hero;
	background: $color-blue-dark;
	color: $color-white;
}

.blog-hero {
	@extend %hero;
	background: $color-slate;
	color: $color-white;	
}
