// ========================================
// Typography
// ========================================

// Scale

@mixin s-giga  {
  font-size: $s-giga;
  line-height: $baseline-step * 12;
}

@mixin s-mega {
  font-size: $s-mega;
  line-height: $baseline-step * 9;
}

@mixin s-alpha {
  font-size: $s-alpha;
  line-height: $baseline-xx-large;
}

@mixin s-bravo {
  font-size: $s-bravo;
  line-height: $baseline-large;
}

@mixin s-charlie {
  font-size: $s-charlie;
  line-height: $baseline-large;
}

@mixin s-delta {
  font-size: $s-delta;
}

@mixin s-echo {
  font-size: $s-echo;
}

@mixin s-foxtrot {
  font-size: $s-foxtrot;
}

@mixin s-golf {
  font-size: $s-golf;
  line-height: $baseline-small;
}

@mixin s-hotel {
  font-size: $s-hotel;
  line-height: $baseline-small;
}

// Headings

@mixin h-alpha {
  @include s-alpha;
  font-weight: 300;
}

@mixin h-bravo {
  @include s-bravo;
  font-weight: 300;
}

@mixin h-charlie {
  @include s-charlie;
  font-weight: 300;
}

@mixin h-delta {
  @include s-delta;
  font-weight: 400;
}

@mixin h-echo {
  @include s-echo;
  font-weight: 600;
}

@mixin h-foxtrot {
  @include s-foxtrot;
  font-weight: 600;
}
