// =======================================
// Silent, extendable base button object
// i.e. @extend %button;
// =======================================
%button {
	appearance: none;
	border-radius: 0;
	border: none;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	margin: 0;
	padding-top: $base-unit-half;
	padding-right: $base-unit;
	padding-bottom: $base-unit-half;
	padding-left: $base-unit;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
