// =======================================
// Silent, extendable grid objects
// i.e. @extend %col-baselines;
// =======================================
%g-row {
	@include container($lap-large);
}

%col-box {
	padding: $base-unit;
}

%col-baselines {
	padding-top: $base-unit;
	padding-bottom: $base-unit;
}

%col-gutters {
	padding-left: $base-unit;
	padding-right: $base-unit;
}

%full-width {
	width: 100%;
}
