// =======================================
// List Settings
// =======================================

// =======================================
// List Styles
// =======================================
ul,
ol {
	padding: 0 0 0 $base-unit * 2;
}

dl {
	& > dt {
		font-weight: bold;
	}
	& > dd {
		margin: 0 0 0 $base-unit;
	}
}

%no-style,
.no-style {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list-inline {
	margin: 0;
	padding: 0;

	li {
		float: left;
		margin-right: $base-unit-half;
	}
}

.social-list {
	@extend %clearfix;
	@extend %no-margin;
	@extend %no-padding;
	@extend %text-align-center;

	li {
		@extend %inline-block;
		font-size: $h5-font-size;
	}
	a {
		color: map-get($global-colors, dark-blue);
		padding: $base-unit-half $base-unit-quarter;
	}
	a:hover {
		color: map-get($global-colors, blue);
	}
}

%list-inline,
.list-inline {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
	}
}

%list-block,
.list-block {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display: block;
		width: 100%;
	}
}
