// ========================================
// Type Scale
// ========================================

// Scale

.s-giga {
  font-size: $s-giga;
}

.s-mega {
  font-size: $s-mega;
}

.s-alpha {
  font-size: $s-alpha;
}

.s-bravo {
  font-size: $s-bravo;
}

.s-charlie {
  font-size: $s-charlie;
}

.s-delta {
  font-size: $s-delta;
}

.s-echo {
  font-size: $s-echo;
}

.s-foxtrot {
  font-size: $s-foxtrot;
}

.s-golf {
  font-size: $s-golf;
}

.s-hotel {
  font-size: $s-hotel;
}
