// =============================================
// Base Color Variables
// =============================================

// Monochromatic palette

$white:             #fff !default;
$white-offset:      #fafafa !default; // #f6f6f6 | #f6f6f6 | #fbfbfb
$gray-light:        #ccc !default;
$gray:              #999 !default; // #adadad;
$gray-dark:         #666 !default; // #657380;
$black-offset:      #333 !default; // #49494d;
$black:             #000 !default;

$blue: #027cc6;
$blue-dark: #4e5571;

$slate: #5c5d5f;
