<div class="g-row">
  <ul class="social-list">
    <li><a href="https://twitter.com/danlavin"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/lavindan"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://github.com/DLavin23/"><i class="fa fa-github"></i></a></li>
    <li><a href="mailto:daniel.e.lavin@gmail.com"><i class="fa fa-envelope"></i></a></li>
  </ul>
  <span class="copyright">© 2014 Dan Lavin</span>
</div>
