<div class="g-row">
	<div class="g-col-5">
		<p class="copyright">© 2015 Dan Lavin</p>
	</div>

	<div class="g-col-7 last-col">
	  <ul class="social-list pull-right">
	    <li><a href="https://twitter.com/danlavin"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="https://www.linkedin.com/in/lavindan"><i class="fa fa-linkedin"></i></a></li>
	    <li><a href="https://github.com/DLavin23/"><i class="fa fa-github"></i></a></li>
	    <li><a href="mailto:daniel.e.lavin@gmail.com"><i class="fa fa-envelope"></i></a></li>
	  </ul>
	</div>
</div>
