<footer class="bg-white b-top py-small px-half px-md">
  <div class="mw-lg mx-auto">
    <div class="d-table grid-1-1">
      <p class="d-table-cell va-middle ta-left m-0">&copy; 2015 Dan Lavin</p>

      <ul class="d-table-cell va-middle ta-right list-reset">
        <li class="d-inline-block pl-half"><a href="https://twitter.com/danlavin">Twitter</a></li>
        <li class="d-inline-block pl-half"><a href="https://www.linkedin.com/in/lavindan">Linkedin</a></li>
        <li class="d-inline-block pl-half"><a href="https://github.com/DLavin23/">Github</li>
        <li class="d-inline-block pl-half"><a href="mailto:daniel.e.lavin@gmail.com">Email</a></li>
      </ul>
    </div>
  </div>
</footer>
