<footer class="cf dark-gray w-100 bt b--light-gray">
  <div class="mw9 center ph3 ph4-m ph5-l pv2">
    <div class="dt w-100">
      <p class="dtc v-mid">&copy; <%= Date.today.year %> Happy <span data-today></span>! </p>
      <div class="dtc v-mid tr">
        <ul>
          <li class="dib">
            <a class="dib ph2 no-underline dark-gray" title="twitter" href="https://twitter.com/danlavin">Twitter</a>
          </li>

          <li class="dib">
            <a class="dib ph2 no-underline dark-gray" title="linkedin" href="https://www.linkedin.com/in/lavindan">Linkedin</a>
          </li>

          <li class="dib">
            <a class="dib ph2 no-underline dark-gray" title="github" href="https://github.com/DLavin23/">Github</a>
          </li>

          <li class="dib">
            <a class="dib ph2 no-underline dark-gray" title="codepen" href="https://github.com/DLavin23/">Codepen</a>
          </li>

          <li class="dib">
            <a class="dib ph2 no-underline dark-gray" title="email" href="mailto:daniel.e.lavin@gmail.com">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
