<div class="pl2 pr2 max-width-4 mx-auto">
	<p>© 2015 Dan Lavin</p>

  <ul class="list-reset">
    <li class="inline-block mr1"><a href="https://twitter.com/danlavin">Twitter</a></li>
    <li class="inline-block mr1"><a href="https://www.linkedin.com/in/lavindan">Linkedin</a></li>
    <li class="inline-block mr1"><a href="https://github.com/DLavin23/">Github</li>
    <li class="inline-block mr1"><a href="mailto:daniel.e.lavin@gmail.com">Email</a></li>
  </ul>
</div>
