<div class="g-row">
	<h1 class="logo">
	  <a href="/">Dan Lavin</a>
	</h1>

	<nav class="nav-primary">
	  <ul class="list-inline">
	    <li class="nav-item"><a href="/thoughts.html"><i class="fa fa-comment-o"></i> Thoughts</a></li>
	    <li class="nav-item"><a href="/playground.html"><i class="fa fa-code"></i> Playground</a></li>
	    <li class="nav-item"><a href="/work.html"><i class="fa fa-briefcase"></i> Work</a></li>
	    <li class="nav-item"><a href="/styleguide.html"><i class="fa fa-file-code-o"></i> Styleguide</a></li>
	    <!-- <li class="nav-item"><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li> -->
	  </ul>
	</nav>
</div>
