  <header class="header-primary">
  <div class="g-row mobile-gutter">
    <div class="logo">
      <a href="/"><img src="images/bio-photo.jpg" alt="Dan Lavin"></a>
    </div>
    <nav class="nav-primary">
      <ul class="list-inline-divider">
        <li><a href="/">Home</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/styleguide.html">Styleguide</a></li>
        <li><a href="/projects.html">Projects</a></li>
      </ul>
    </nav>  
  </div>
</header> 
