<header class="bg-white b-bottom py-small px-half px-md">
  <div class="mw-lg mx-auto">
    <nav class="d-table grid-1-1" role="navigation">
      <h1 class="d-table-cell va-middle ta-left s-delta"><a href="/" class="br-circle bg-blue color-white">DL</a></h1>
      <ul class="d-table-cell va-middle ta-right list-reset">
        <li class="d-inline-block pl-half"><a href="/thoughts.html">Thoughts</a></li>
        <li class="d-inline-block pl-half"><a href="mailto:daniel.e.lavin@gmail.com">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
