<header class="cf w-110">
  <div class="mw9 center">
    <div class="dt w-100 ph3 ph4-m ph5-l pv2">
      <div class="dtc v-mid">
        <a href="/" title="home">
          <%= image_tag 'logo-gray.svg', height: "40px" %>
        </a>
      </div>

      <div class="dtc v-mid tr nav-toggle-wrapper">
        <a href="#" class="nav-toggle color-blue-slate-light" data-nav-toggle>
          <i class="i-nav-toggle px-half"></i>
        </a>
      </div>

      <nav class="nav dtc v-mid" role="navigation" data-nav-list>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a title="About Dan" href="/about.html">About</a>
          </li>

          <li class="nav-list-item">
            <a title="Work" href="/work.html">Work</a>
          </li>

          <li class="nav-list-item">
            <a title="Reading" href="/reading.html">Reading</a>
          </li>

          <li class="nav-list-item">
            <a title="Thoughts" href="/writing.html">Writing</a>
          </li>

          <li class="nav-list-item">
            <a title="Email" href="mailto:daniel.e.lavin@gmail.com">Say Hello<span class="d-inline-block-sm ml2">👋</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
