<div class="g-row">
	<h1 class="logo">
	  <a href="/" tabindex="1">Dan Lavin</a>
	</h1>

	<nav class="nav-primary" role="navigation">
	  <ul class="list-inline">
	    <li class="nav-item">
	    	<a href="/thoughts.html" tabindex="2"><i class="fa fa-comment-o"></i> Thoughts</a>
	    </li>
	    <li class="nav-item">
	    	<a href="/playground.html" tabindex="3"><i class="fa fa-code"></i> Playground</a>
	    </li>
	    <li class="nav-item">
	    	<a href="/styleguide.html" tabindex="4"><i class="fa fa-file-code-o"></i> Styleguide</a>
	    </li>
	    <li class="nav-item">
	    	<a href="mailto:daniel.e.lavin@gmail.com" tabindex="5"><i class="fa fa-envelope"></i> Contact</a>
	    </li>
	  </ul>
	</nav>
</div>
