<nav role="navigation">
  <ul>
    <li><a href="/">Dan Lavin</a></li>
    <li><a href="/thoughts.html">Thoughts</a></li>
    <li><a href="mailto:daniel.e.lavin@gmail.com">Contact</a></li>
  </ul>
</nav>
