<section class="cf pv4 pv5-ns bgc-white-offset bb b--black-10">
  <div class="mw8 ph3 ph4-m ph5-l center">
    <div class="fl w-60-l pa2">
      <h3 class="f3 f1-ns lh-title b mv3 black-70">Hello.</h3>
      <h4 class="f5 f3-ns lh-title mv3 black-50 fw3">I love building products that help solve peoples problems. Currently, I work at <a href="bellycard.com">Belly</a>, where I'm focused on building a consumer loyalty platform that helps companies "make business personal."</h4>
    </div>

    <div class="fl w-40-l pa2 tc">
      <!-- <img src="http://placehold.it/400x250" alt="Dan Lavin Bio" class="db br2 center"> -->
      <!-- <%= image_tag "bio-photo.png", class: "db mx-100 center" %> -->
    </div>
  </div>
</section>


<section class="cf pv5 bb b--black-10">
  <div class="mw8 center ph3 ph4-m ph5-l">
    <div class="cf">
      <aside class="fl w-100 w-30-l">
        <div class="pa3">
          <h4 class="f4 lh-title black-70 mv3">Get in touch!</h4>
          <ul class="list pl0">
            <li class="mb2"><a href="">@danlavin</a></li>
            <li class="mb2"><a href="">Github</a></li>
            <li class="mb2"><a href="">Codepen</a></li>
            <li class="mb2"><a href="">Linkedin</a></li>
            <li class="mb2"><a href="">Resume</a></li>
            <li class="mb2"><a href="">Email</a></li>
          </ul>

          <h4 class="f4 lh-title black-70 mv3">Skills</h4>
          <ul class="list pl0">
            <li class="f6 pa2 br2 bg-light-blue blue ba b--blue mb3 dib">HTML</li>
            <li class="f6 pa2 br2 bg-light-blue blue ba b--blue mb3 dib">CSS</li>
            <li class="f6 pa2 br2 bg-light-blue blue ba b--blue mb3 dib">Javascript</li>
            <li class="f6 pa2 br2 bg-light-blue blue ba b--blue mb3 dib">Ruby on Rails</li>
            <li class="f6 pa2 br2 bg-light-blue blue ba b--blue mb3 dib">Product Management</li>
            <li class="f6 pa2 br2 bg-light-blue blue ba b--blue mb3 dib">Product Design</li>
            <li class="f6 pa2 br2 bg-light-blue blue ba b--blue mb3 dib">Product Strategy</li>
          </ul>
        </div>
      </aside>

      <div class="fl w-100 w-70-l black-70">
        <div class="pa3">
          <h3 class="f3 lh-title black-70 mv3 pb2 bb b--black-10">About Me</h3>
          <p class="f5 lh-copy mid-gray">I love products that solve real problems. I enjoy design that is both simple and intuitive. I believe that talking to actual customers is the best way to make sure you're building the <strong>right</strong> product. I embrace change. Failure happens from time to time. That's OK, as long as you learn from your mistakes. I value strong communication. It's impossible to build a great product if design, engineering, and the business are not working as one team. Finally, I approach every problem with an <a href="/empty-cup" class="no-underline blue">"empty cup"</a> and a <a href="http://shop.oreilly.com/product/9780596518387.do" class="no-underline blue">"beginners mind"</a>.</p>

          <p class="f5 lh-copy mid-gray">Prior to product management, I was a front end developer.</p>

<!--           <p class="f5 lh-copy mw8">Hello, I'm Dan, a product manager with a passion for design, development, and user experience. I love products that solve real problems. I enjoy design that is both simple and intuitive. I believe that talking to actual customers is the best way to ensure you're building the <strong>right</strong> product. I strive to embrace change. I acknowledge that failure happens from time to time, but it doesn't need to define you. Failure leads to growth, so fail fast and learn from your mistakes. I value strong communication. It's impossible to build a great product if design, engineering, and the business are not working as one team. Finally, I approach every problem with an <a href="/empty-cup" class="no-underline blue">"empty cup"</a> and a <a href="http://shop.oreilly.com/product/9780596518387.do" class="no-underline blue">"beginners mind"</a>.</p>
          <p class="f5 lh-copy">I'm currently based in Chicago and spend most of my time building awesome products at <a href="bellycard.com" class="no-underline blue">Belly</a>.</p> -->
          <h4>Here are some things I'm passionate about:</h4>
          <ul>
            <li>I love to design and build digital products</li>
            <li>Functional CSS</li>
          </ul>

          <h4>Here are some things I can do:</h4>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>UI Design</li>
            <li>Ruby on Rails</li>
          </ul>

          <p>Ideas</p>
          <ul>
            <li>Values</li>
            <li>Product Principles</li>
            <li>Get great at building and growing software products.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!--   <h1>About ME!</h1>
  <p>Slack is one of my favorite companies. I love their product and I admire their culture. Naturally, I'm a fan of their CEO, Stewart Butterfield, as well. He's big on empathy and humility. I agree. Those are two very important qualities that every company should look for when considering a new hire. There are most likely a number of ways to measure those qualities, but the way Stewart guages these qualities is through one simple statement. <a href="http://www.inc.com/tess-townsend/stewart-butterfield-wants-employees-wit.html">Tell me your story</a>. It's a common question asked in interviews, but one people spend little time thinking about. Thinking critically about how you got to where you are today, should tell you a lot about yourself and the decisions you've made throughout your career. So, without further adoo, here is my story...</p>

  <a href="">TL;DR</a> -->
</section>
