<section class="cf pv4 pv5-ns bgc-white-offset bb b--black-10">
  <div class="mw8 ph3 ph4-m ph5-l center">
    <div class="fl w-70-l pr4-l">
      <h3 class="f3 f1-ns lh-solid mv4 black-70">Hello.</h3>
      <h4 class="f5 f3-ns lh-title mv4 black-50 fw3">Currently, I lead product at <a href="bellycard.com">Belly</a>, where I'm focused on building an engagement platform that helps companies strengthen customer relationships.</h4>
      <ul class="cf pl0 mv4 social-icons">
        <%= partial "partials/social-list" %>
      </ul>
    </div>
    <div class="fl w-30-l pl4-l tc">
      <%= image_tag "bio-photo-circle.png", class: "dn db-l mx-100 center" %>
    </div>
  </div>
</section>


<section class="cf pv4 pv5-l bb b--black-10">
  <div class="mw8 center ph3 ph4-m ph5-l">
    <div class="cf">
      <div class="w-100 black-70">
        <div class="pa3">
          <h3 class="f3 f2-ns lh-title b mv3 black-70 avenir">About Me</h3>
          <div class="bb bw2 b--black-10 mw3"></div>

          <div class="pv2">
            <p class="f5 f4-l fw3 lh-copy mid-gray">I love products that solve real problems. I enjoy design that is both simple and intuitive. I believe that talking to actual customers is the best way to make sure you're building the <strong>right</strong> product. I embrace change. Failure happens from time to time. That's OK, as long as you learn from your mistakes. I value strong communication. It's impossible to build a great product if design, engineering, and the business are not working as one team. Finally, I approach every problem with an <a href="/empty-cup" class="no-underline blue">"empty cup"</a> and a <a href="http://shop.oreilly.com/product/9780596518387.do" class="no-underline blue">"beginners mind"</a>.</p>
          </div>

          <div class="pv2">
            <h4 class="ttu">Some things I'm passionate about:</h4>
            <ul class="f5 f4-l fw3 lh-copy mid-gray">
              <li>Building digital products that solve real problems</li>
              <li>Leading product and engineering teams</li>
              <li>Advocating for customers</li>
              <li>Focusing on outcomes</li>
            </ul>
          </div>

          <div class="pv2">
            <h4 class="ttu">Some things I know how to do:</h4>
            <ul class="f5 f4-l fw3 lh-copy mid-gray">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Responsive Web Design</li>
              <li>Designing with code</li>
              <li>Prototyping</li>
              <li>Product Management</li>
              <li>User Experience</li>
            </ul>
          </div>

          <div class="pv2">
            <h4 class="ttu">Some things I'm learning:</h4>
            <ul class="f5 f4-l fw3 lh-copy mid-gray">
              <li>UI and visual Design</li>
              <li>React and React Native</li>
              <li>Functional Programming</li>
              <li>Design Systems</li>
              <li>Writing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--   <h1>About ME!</h1>
  <p>Slack is one of my favorite companies. I love their product and I admire their culture. Naturally, I'm a fan of their CEO, Stewart Butterfield, as well. He's big on empathy and humility. I agree. Those are two very important qualities that every company should look for when considering a new hire. There are most likely a number of ways to measure those qualities, but the way Stewart guages these qualities is through one simple statement. <a href="http://www.inc.com/tess-townsend/stewart-butterfield-wants-employees-wit.html">Tell me your story</a>. It's a common question asked in interviews, but one people spend little time thinking about. Thinking critically about how you got to where you are today, should tell you a lot about yourself and the decisions you've made throughout your career. So, without further adoo, here is my story...</p>

  <p>Ideas</p>
  <ul>
    <li>Values</li>
    <li>Product Principles</li>
    <li>Get great at building and growing software products.</li>
  </ul>

  <a href="">TL;DR</a> -->
<!--           <p class="f5 lh-copy mw8">Hello, I'm Dan, a product manager with a passion for design, development, and user experience. I love products that solve real problems. I enjoy design that is both simple and intuitive. I believe that talking to actual customers is the best way to ensure you're building the <strong>right</strong> product. I strive to embrace change. I acknowledge that failure happens from time to time, but it doesn't need to define you. Failure leads to growth, so fail fast and learn from your mistakes. I value strong communication. It's impossible to build a great product if design, engineering, and the business are not working as one team. Finally, I approach every problem with an <a href="/empty-cup" class="no-underline blue">"empty cup"</a> and a <a href="http://shop.oreilly.com/product/9780596518387.do" class="no-underline blue">"beginners mind"</a>.</p>
          <p class="f5 lh-copy">I'm currently based in Chicago and spend most of my time building awesome products at <a href="bellycard.com" class="no-underline blue">Belly</a>.</p> -->
