<section class="mw9 ph3 ph4-m ph5-l pb4">
  <h1>About ME!</h1>
  <p>Slack is one of my favorite companies. I love their product and I admire their culture. Naturally, I'm a fan of their CEO, Stewart Butterfield, as well. He's big on empathy and humility. I agree. Those are two very important qualities that every company should look for when considering a new hire. There are most likely a number of ways to measure those qualities, but the way Stewart guages these qualities is through one simple statement. <a href="http://www.inc.com/tess-townsend/stewart-butterfield-wants-employees-wit.html">Tell me your story</a>. It's a common question asked in interviews, but one people spend little time thinking about. Thinking critically about how you got to where you are today, should tell you a lot about yourself and the decisions you've made throughout your career. So, without further adoo, here is my story...</p>

  <a href="">TL;DR</a>

  <p>Ideas</p>
  <ul>
    <li>Values</li>
    <li>Product Principles</li>
    <li>Get great at building and growing software products.</li>
  </ul>

</section>
