<section class="cf pv4 pv5-ns bgc-white-offset bb b--black-10">
  <div class="mw8 ph3 ph4-m ph5-l center">
    <div class="fl w-70-l pr4-l">
      <h3 class="f3 f1-ns lh-solid mv4 black-70">Hello.</h3>
      <h4 class="f5 f3-ns lh-title mv4 black-50 fw3">Currently, I lead product at <a href="hatchloyalty.com">Hatch Loyalty</a>, where our we're focused on building a platform that helps businesses build stronger relationships with their customers.</h4>
      <ul class="cf pl0 mv4 social-icons">
        <%= partial "partials/social-list" %>
      </ul>
    </div>
    <div class="fl w-30-l pl4-l tc">
      <%= image_tag "bio-photo-circle.png", class: "dn db-l mx-100 center" %>
    </div>
  </div>
</section>


<section class="cf pv4 pv5-l bb b--black-10">
  <div class="mw8 center ph3 ph4-m ph5-l">
    <div class="cf">
      <div class="w-100 black-70">
        <div class="pa3">
          <h3 class="f3 f2-ns lh-title b mv3 black-70 avenir">About Me</h3>
          <div class="bb bw2 b--black-10 mw3"></div>

          <div class="pv2">
            <p class="f5 f4-l fw3 lh-copy mid-gray">I love products that solve real problems. I enjoy design that is both simple and intuitive. I believe that talking to actual customers is the best way to make sure you're building the <strong>right</strong> product. I embrace change. Failure happens from time to time. That's OK, as long as you learn from your mistakes. I value strong communication. It's impossible to build a great product if design, engineering, and the business are not working as one team. Finally, I approach every problem with an <a href="/empty-cup" class="no-underline blue">"empty cup"</a> and a <a href="http://shop.oreilly.com/product/9780596518387.do" class="no-underline blue">"beginners mind"</a>.</p>
          </div>

          <div class="pv2">
            <h4 class="ttu">Some things I'm passionate about:</h4>
            <ul class="f5 f4-l fw3 lh-copy mid-gray">
              <li>Building digital products that solve real problems</li>
              <li>Leading product and engineering teams</li>
              <li>Listening to customers</li>
              <li>Focusing on outcomes</li>
              <li>Design Systems</li>
            </ul>
          </div>

          <div class="pv2">
            <h4 class="ttu">Some things I know how to do:</h4>
            <ul class="f5 f4-l fw3 lh-copy mid-gray">
              <li>Product Management</li>
              <li>Product Design</li>
              <li>User Experience</li>
              <li>Prototyping</li>
              <li>Javascript</li>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
          </div>

          <div class="pv2">
            <h4 class="ttu">Some things I'm trying to improve:</h4>
            <ul class="f5 f4-l fw3 lh-copy mid-gray">
              <li>Functional Programming</li>
              <li>React and React Native</li>
              <li>UI and Visual Design</li>
              <li>Systems Thinking</li>
              <li>Writing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
