<section class="hero">
	<div class="g-row">
		<div class="intro">
			<h2 class="hero-headline">Hi, I'm Dan, a front-end designer and developer in Chicago, IL.</h2>
			<h3 class="hero-tagline">Endlessly searching for a catchy tagline...</h3>
		</div>
	</div>
</section>

<section class="articles">
	<h3>Recent Articles</h3>
	<hr>
	<div class="g-row">
		<div class="g-col-resp-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus dolore nisi tempore vel nesciunt veritatis accusamus velit molestiae, doloremque neque vitae nostrum, ab veniam unde eveniet aliquam, sequi beatae!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime error, nobis beatae, consequatur exercitationem repellendus fugiat neque numquam sunt quibusdam deserunt similique, ex quos ullam accusantium laborum deleniti aliquam quod.<a href="#">Read More</a></p>
		</div>
		<div class="g-col-resp-3">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus dolore nisi tempore vel nesciunt veritatis accusamus velit molestiae, doloremque neque vitae nostrum, ab veniam unde eveniet aliquam, sequi beatae! <a href="#">Read More</a></p>
		</div>
		<div class="g-col-resp-3 last-col">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus dolore nisi tempore vel nesciunt veritatis accusamus velit molestiae, doloremque neque vitae nostrum, ab veniam unde eveniet aliquam, sequi beatae! <a href="#">Read More</a></p>
		</div>
	</div>
</section>

<section class="about">
	<h3>About</h3>
	<hr>
	<div class="g-row">
<!-- 		<div class="g-col-resp-2">
			<img class="bio-photo" src="assets/images/bio-photo.jpg" alt="Dan Lavin">
		</div> -->

		<div class="g-col-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti porro, adipisci optio eveniet tempore labore repellat nam. Quam facilis tempore quidem adipisci impedit voluptate expedita, ea, voluptas, recusandae libero hic.</p>
		</div>

		<div class="g-col-6 last-col">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi consequatur reprehenderit asperiores error, voluptatem delectus ea assumenda explicabo natus aspernatur dignissimos veniam repudiandae excepturi, fugiat velit adipisci nobis, minima vero.</p>
		</div>
<!-- 				<p>I'm a Front End Front Engineer at <a href="http://www.leapfrogonline.com">Leapfrog Online</a> where I focus on building out scalable and maintainble user interfaces. Front end engineer with a passion for design. I build things. </p>

				<p>I switched into this career of web developer in my late twenties. Previously I had been a product manager but wanted to create instead of organizing the creation. Curiosity passion for solving problems</p> -->
	</div>
</section>

<section class="toolset">
	<h3>My toolset</h3>
	<hr>
	<div class="g-row">
<!-- 		<ul>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Sass</li>
			<li>Javascript</li>
		</ul>
		<ul>
			<li>jQuery</li>
			<li>Angular JS</li>
			<li>Node</li>
			<li>Gulp &amp; Grunt</li>
		</ul>
		<ul>
			<li>Git/Github</li>
			<li>Unix/CLI</li>
			<li>Middleman</li>
			<li>Ruby on Rails</li>
		</ul> -->

		<div class="g-gallery-resp-4">
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>Sass</li>
				<li>Javascript</li>
			</ul>
		</div>

		<div class="g-gallery-resp-4">
			<ul>
				<li>jQuery</li>
				<li>Angular JS</li>
				<li>Node</li>
				<li>Gulp &amp; Grunt</li>
			</ul>
		</div>

		<div class="g-gallery-resp-4">
			<ul>
				<li>Git/Github</li>
				<li>Unix/CLI</li>
				<li>Middleman</li>
				<li>Ruby on Rails</li>
			</ul>
		</div>
	</div>
</section>

