<section class="hero">
	<div class="hero-overlay"></div>

	<div class="intro">
		<h1 class="hero-headline">Hi! My name's Dan Lavin.</h1>
		<h2 class="hero-tagline">I'm a front-end designer and developer based in Chicago, IL.</h2>
	</div>
</section>
