<section class="hero">
	<div class="g-row">
		<h2 class="hero-headline">Hello, I'm Dan...</h2>
		<h3 class="hero-tagline">A Front-End Engineer With a Passion for Design &amp; User Experience.</h3>
	</div>
</section>

<section class="about">
	<div class="g-row">
		<header>
			<h3 class="section-headline">About Me</h3>
		</header>
		<div class="g-col-resp-2 pad-top pad-bottom">
			<%= tag :img, :src => "assets/images/bio-photo.jpg", :class => "bio-photo", :alt => "Dan Lavin" %>
		</div>

		<div class="g-col-resp-5">
			<p>Currently, I work at <a href="http://www.leapfrogonline.com/">Leapfrog Online</a>, where I focus on building scalable and maintainble user interfaces that work beautifully across all platforms (responsive design).</p>
			<p>I believe performance IS design. I strive to write clean and understandable code using object oriented and SMACSS based principles. I speed up and automate front end workflows with tools like gulp and work with frameworks like middleman, angular, and ruby on rails.</p>
		</div>

		<div class="g-col-resp-5 last-col">
			<p>Outside of work, I enjoy spending time with my wife, traveling, reading, drinking unnecessary amounts of <a href="http://revbrew.com/home">beer</a> &amp; <a href="http://www.heritagebicycles.com/">coffee</a>, and trying all of great <a href="http://www.yelp.com/search?find_desc=Restaurants&find_loc=Chicago%2C+IL&ns=1#start=0&sortby=review_count">food</a> the Windy City has to offer.</p>
			<p>When the Chicago weather permits, I love spending time outdoors. In the summer you can usually find me running along the lake, attempting to golf, or playing sand volleyball and basketball.</p>
		</div>
	</div>
</section>

<!-- 		<div class="g-col-resp-2">

		</div> -->
		<!-- <a href="https://developers.google.com/speed/pagespeed/insights/?url=dlavin23.github.io">Performance</a> -->
<!-- 				<p>I'm a Front End Front Engineer at <a href="http://www.leapfrogonline.com">Leapfrog Online</a> where I focus on building out scalable and maintainble user interfaces. I build things. </p>

				<p>I switched into this career of web developer in my late twenties. Previously I had been a product manager but wanted to create instead of organizing the creation. Curiosity passion for solving problems</p> -->


<section class="thoughts">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Recent thoughts</h3>
		</header>

		<div class="g-col-resp-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus dolore nisi tempore vel nesciunt veritatis accusamus velit molestiae, doloremque neque vitae nostrum, ab veniam unde eveniet aliquam, sequi beatae!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime error, nobis beatae, consequatur exercitationem repellendus fugiat neque numquam sunt quibusdam deserunt similique, ex quos ullam accusantium laborum deleniti aliquam quod.<a href="#">Read More</a></p>
		</div>

		<div class="g-col-resp-3">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus dolore nisi tempore vel nesciunt veritatis accusamus velit molestiae, doloremque neque vitae nostrum, ab veniam unde eveniet aliquam, sequi beatae! <a href="#">Read More</a></p>
		</div>

		<div class="g-col-resp-3 last-col">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus dolore nisi tempore vel nesciunt veritatis accusamus velit molestiae, doloremque neque vitae nostrum, ab veniam unde eveniet aliquam, sequi beatae! <a href="#">Read More</a></p>
		</div>
	</div>
</section>

<section class="toolset">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Things in My Developer Toolbox</h3>
		</header>

		<div class="clearfix">
			<div class="g-gallery-resp-4">
				<ul>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>Sass</li>
					<li>Javascript</li>
				</ul>
			</div>

			<div class="g-gallery-resp-4">
				<ul>
					<li>jQuery</li>
					<li>Angular JS</li>
					<li>Node</li>
					<li>Gulp &amp; Grunt</li>
				</ul>
			</div>

			<div class="g-gallery-resp-4">
				<ul>
					<li>Git/Github</li>
					<li>Unix/CLI</li>
					<li>Middleman</li>
					<li>Ruby on Rails</li>
				</ul>
			</div>
		</div>
	</div>

<!-- 		<ul>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Sass</li>
			<li>Javascript</li>
		</ul>
		<ul>
			<li>jQuery</li>
			<li>Angular JS</li>
			<li>Node</li>
			<li>Gulp &amp; Grunt</li>
		</ul>
		<ul>
			<li>Git/Github</li>
			<li>Unix/CLI</li>
			<li>Middleman</li>
			<li>Ruby on Rails</li>
		</ul> -->
</section>

