<section class="hero hero-playground">
  <div class="g-row">
    <h2 class="hero-headline">Playground</h2>
    <h3 class="hero-tagline">Writings on Product Design, Development, and User Experience </h3>
  </div>
</section>
