<section class="hero hero-playground">
  <div class="g-row">
    <h2 class="hero-headline">Playground...</h2>
    <h3 class="hero-tagline">A place for various design and development experiements.</h3>
  </div>
</section>
