<section class="hero hero-playground">
  <header class="hero-intro">
    <h2 class="hero-headline">Playground...</h2>
    <h3 class="hero-tagline">A place for various design and development experiements.</h3>
  </header>
</section>

<div class="g-row section-spacing">
	<header>
		<h3 class="section-headline">Section Headline</h3>
	</header>

	<div class="g-col-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iusto in alias dolores id nam tempore quia incidunt sequi, sed. Sapiente nihil possimus vero sunt sed, rerum quaerat ratione atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima perspiciatis modi voluptas, repellendus itaque beatae consequuntur accusamus laborum eligendi ducimus ipsum, ea accusantium dicta nemo eius deserunt esse sint.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iusto in alias dolores id nam tempore quia incidunt sequi, sed. Sapiente nihil possimus vero sunt sed, rerum quaerat ratione atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima perspiciatis modi voluptas, repellendus itaque beatae consequuntur accusamus laborum eligendi ducimus ipsum, ea accusantium dicta nemo eius deserunt esse sint.</p>
	</div>

	<div class="g-col-6">
		<p data-height="350" data-theme-id="0" data-slug-hash="VYrWQN" data-default-tab="result" data-user="DLavin23" class='codepen'>See the Pen <a href='http://codepen.io/DLavin23/pen/VYrWQN/'>VYrWQN</a> by Dan Lavin (<a href='http://codepen.io/DLavin23'>@DLavin23</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
	</div>
</div>

<div class="g-row section-spacing">
	<header>
		<h3 class="section-headline">Section Headline</h3>
	</header>

	<div class="g-col-6">
		<p data-height="350" data-theme-id="0" data-slug-hash="LEeEXV" data-default-tab="result" data-user="DLavin23" class='codepen'>See the Pen <a href='http://codepen.io/DLavin23/pen/LEeEXV/'>Animation</a> by Dan Lavin (<a href='http://codepen.io/DLavin23'>@DLavin23</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
	</div>

	<div class="g-col-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iusto in alias dolores id nam tempore quia incidunt sequi, sed. Sapiente nihil possimus vero sunt sed, rerum quaerat ratione atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima perspiciatis modi voluptas, repellendus itaque beatae consequuntur accusamus laborum eligendi ducimus ipsum, ea accusantium dicta nemo eius deserunt esse sint.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iusto in alias dolores id nam tempore quia incidunt sequi, sed. Sapiente nihil possimus vero sunt sed, rerum quaerat ratione atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima perspiciatis modi voluptas, repellendus itaque beatae consequuntur accusamus laborum eligendi ducimus ipsum, ea accusantium dicta nemo eius deserunt esse sint.</p>
	</div>
</div>

<div class="g-row section-spacing">
	<header>
		<h3 class="section-headline">Section Headline</h3>
	</header>
	<div class="g-col-7">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iusto in alias dolores id nam tempore quia incidunt sequi, sed. Sapiente nihil possimus vero sunt sed, rerum quaerat ratione atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima perspiciatis modi voluptas, repellendus itaque beatae consequuntur accusamus laborum eligendi ducimus ipsum, ea accusantium dicta nemo eius deserunt esse sint.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iusto in alias dolores id nam tempore quia incidunt sequi, sed. Sapiente nihil possimus vero sunt sed, rerum quaerat ratione atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima perspiciatis modi voluptas, repellendus itaque beatae consequuntur accusamus laborum eligendi ducimus ipsum, ea accusantium dicta nemo eius deserunt esse sint.</p>
	</div>

	<div class="g-col-5">
		<img src="http://placehold.it/600x350" alt="">
	</div>
</div>
