---
blog: reading
---

<section class="cf bb b--black-10 pv4 pv5-ns bgc-white-offset">
  <header class="tc ph3 pv4 pv5-ns">
    <h2 class="f2 f1-ns lh-title mt0 mb2 black-70">Reading List</h2>
    <h3 class="f5 f4-ns lh-title ma0 fw3 gray">A collection of some of my favorite books.</h3>
  </header>
</section>

<section class="cf bb b--black-10 pv4 pv5-ns black-70">
  <div class="mw8 center ph3 ph4-m ph5-l">
    <ul>
      <% blog("books").articles.each do |book| %>
        <li><%= book.title %></li>
      <% end %>
        <li>WIP. More coming soon...</li>
    </ul>
  </div>
</section>
