<section class="cf dark-gray bb b--light-gray">
  <div class="mw9 ph3 ph4-m ph5-l pb4">
    <h3 class="f3 f2-ns lh-title mb3 mw7">Reading List</h3>
<!--     <h4 class="f4 f2-ns lh-title mt0 mb3 mw7">A <span class="dib td-underline">product</span> manager with passion for design, engineering, and user experience.</h4>
    <p class="f5 lh-copy mw8">I love products that solve real problems. I enjoy design that is both simple and intuitive. I believe that talking to actual customers is the best way to ensure you're building the <strong>right</strong> product. I strive to embrace change. I acknowledge that failure happens from time to time, but it doesn't need to define you. Failure leads to growth, so fail fast and learn from your mistakes. I value strong communication. It's impossible to build a great product if design, engineering, and the business are not working as one team. Finally, I approach every problem with an <a href="/empty-cup" class="no-underline blue">"empty cup"</a> and a <a href="http://shop.oreilly.com/product/9780596518387.do" class="no-underline blue">"beginners mind"</a>.</p>
    <p class="f5 lh-copy">I'm currently based in Chicago and spend most of my time building awesome products at <a href="bellycard.com" class="no-underline blue">Belly</a>.</p> -->
  </div>
</section>

<section class="cf dark-gray bb b--light-gray">
  <div class="mw9 ph3 ph4-m ph5-l">
    <ul class="ma0 pv2">
      <li class="dib ph2">All</li>
      <li class="dib ph2">Business</li>
      <li class="dib ph2">Business</li>
      <li class="dib ph2">Business</li>
    </ul>
  </div>
</section>
