<section class="hero hero-styleguide">
  <header class="hero-intro">
    <h2 class="hero-headline">Styleguide...</h2>
    <h3 class="hero-tagline"></h3>
  </header>
</section>

<section class="typography">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Typography</h3>
		</header>
		<h1>Header 1</h1>
		<h2>Header 1</h2>
		<h3>Header 1</h3>
		<h4>Header 1</h4>
		<h5>Header 1</h5>
		<h6>Header 1</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, maxime aut maiores accusantium, quibusdam dicta aliquam quo eum odit id, deleniti amet iusto explicabo at consequuntur cumque numquam, esse et?</p>
		<p><a href="#">Lorem</a> ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eos adipisci labore alias. Harum, officia dolore, praesentium atque natus soluta explicabo veritatis odio unde modi nisi animi, quaerat voluptas quis?</p>
	</div>
</section>

<section class="buttons">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Buttons</h3>
		</header>
	</div>

	<div class="g-row">
		<ul class="list-inline">
			<li><a href="#" class="btn-primary">Primary</a></li>
			<li><a href="#" class="btn-secondary">Secondary</a></li>
			<li><a href="#" class="btn-success">Success</a></li>
			<li><a href="#" class="btn-warning">Warning</a></li>
			<li><a href="#" class="btn-danger">Danger</a></li>
		</ul>
	</div>
</section>

<section class="lists">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Lists</h3>
		</header>
	</div>
</section>

<section class="grid">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Grid</h3>
		</header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia itaque enim vel quae provident nobis dolorem, molestias rerum praesentium nemo natus sit, voluptate voluptates. Perspiciatis sint eius ut laudantium voluptatibus.</p>
	</div>

	<div class="g-row">
		<div class="g-col-1">
			<div class="panel">
				<p>1 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-2">
			<div class="panel">
				<p>2 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-3">
			<div class="panel">
				<p>3 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-4">
			<div class="panel">
				<p>4 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-5">
			<div class="panel">
				<p>5 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-6">
			<div class="panel">
				<p>6 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-7">
			<div class="panel">
				<p>7 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-8">
			<div class="panel">
				<p>8 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-9">
			<div class="panel">
				<p>9 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-10">
			<div class="panel">
				<p>9 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-11">
			<div class="panel">
				<p>11 of 12</p>
			</div>
		</div>
	</div>

	<div class="g-row">
		<div class="g-col-12">
			<div class="panel">
				<p>12 of 12</p>
			</div>
		</div>
	</div>
</section>

