<section class="bg-white py-base px-half px-md">
  <div class="mw-lg mx-auto">
    <h2>Site Brand Styleguide</h2>

    <ul class="group list-reset ta-center">
      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-white b-all br-all px py-xx-large">White</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-white-offset br-all b-all px py-xx-large">White Offset</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-gray-light br-all b-all px py-xx-large">Gray Light</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-gray br-all b-all px py-xx-large">Gray</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-gray-dark color-white br-all b-all px py-xx-large">Gray Dark</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-gray-darker color-white br-all b-all px py-xx-large">Gray Darker</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-black-offset color-white br-all b-all px py-xx-large">Black Offset</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-black color-white br-all b-all px py-xx-large">Black</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-blue color-white br-all b-all px py-xx-large">Blue</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-blue-dark color-white br-all b-all px py-xx-large">Blue Dark</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-slate color-white br-all b-all px py-xx-large">Slate</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-slate-light color-black-offset br-all b-all px py-xx-large">Slate Light</div>
      </li>

      <li class="grid-col grid-1-1 grid-1-4-md pr-half pb-base">
        <div class="bg-slate-medium color-black-offset br-all b-all px py-xx-large">Slate Medium</div>
      </li>
    </ul>
  </div>
</section>
