<section class="cf bb b--black-10 pv4 pv5-ns bgc-white-offset">
  <header class="tc ph3 pv4 pv5-ns">
    <h2 class="f2 f1-ns lh-title mt0 mb2 black-70">Work &amp; Experience</h2>
    <h3 class="f5 f4-ns lh-title ma0 fw2 gray">Work In Progress...Some companies and projects I've worked for</h3>
  </header>
</section>

<section class="cf bb b--black-10 pv4 pv5-ns black-70">
  <div class="mw8 center ph3 ph4-m ph5-l">
    <ul class="list pl0 ma0">
      <li class="db mb3">
        <h3 class="f4 f3-ns lh-title lh-solid ma0 black-70">Belly</h3>
        <h4 class="black-50 f5 fw6 db mv1">Director of Product</h4>
        <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>

        <h4 class="black-50 f5 fw6 db mv1">Web Developer</h4>
        <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>
      </li>

      <li class="db mb3">
        <h3 class="f4 f3-ns lh-title lh-solid ma0 black-70">Leapfrog Online</h3>
        <h4 class="black-50 f5 fw6 db mv1">Web Developer</h4>
        <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>
      </li>

      <li class="db mb3">
        <h3 class="f4 f3-ns lh-title lh-solid ma0 black-70">Destination Rewards</h3>
        <h4 class="black-50 f5 fw6 db mv1">Program Manager</h4>
        <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>

        <h4 class="black-50 f5 fw6 db mv1">Product Manager</h4>
        <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>
      </li>
    </ul>
  </div>
</section>

<!-- CSS & HTML Code Styleguide -->
<!-- Belly Locations Page -->
<!-- BLUE Platform -->
<!-- BLUE HQ -->

