<section class="cf bb b--black-10 pv4 pv5-ns bgc-white-offset">
  <header class="tc ph3 pv4 pv5-ns">
    <h2 class="f2 f1-ns lh-title mt0 mb2 black-70">Work &amp; Experience</h2>
    <h3 class="f5 f4-ns lh-title ma0 fw2 gray">Some companies and projects I've wor</h3>
  </header>
</section>

<section class="cf pv3">
  <div class="mw7 center">
    <ul class="list pl0 ma0">
      <li class="db mb3">
        <h2>Belly</h2>
        <h3>Director of Product</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>
      </li>

      <li class="db mb3">
        <h2>Leapfrog Online</h2>
        <h3>Web Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>
      </li>

      <li class="db mb3">
        <h2>The Starter League</h2>
        <h3>Student &amp; Mentor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>
      </li>

      <li class="db mb3">
        <h2>Destination Rewards</h2>
        <h3>Program Manager</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ea doloribus voluptatum id unde doloremque autem rerum dolor expedita, quos laborum quas, quisquam atque cum suscipit commodi, natus hic obcaecati!</p>
      </li>
    </ul>
  </div>
</section>

<!-- CSS & HTML Code Styleguide -->
<!-- Belly Locations Page -->
<!-- BLUE Platform -->
<!-- BLUE HQ -->
