<section class="hero hero-work">
  <div class="g-row">
    <h2 class="hero-headline">Work...</h2>
    <h3 class="hero-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit voluptas.</h3>
  </div>
</section>

<section class="work">
	<div class="g-row">
		<header>
			<h3 class="section-headline">Work</h3>
		</header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni praesentium porro quae temporibus molestias amet eveniet reiciendis ullam voluptatum earum error eligendi libero iure id explicabo eos, dolores unde nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vel aperiam officiis iusto suscipit, esse, illum dolore eius iste quia eaque, perspiciatis odio voluptatem sapiente rem, in amet a aliquam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni praesentium porro quae temporibus molestias amet eveniet reiciendis ullam voluptatum earum error eligendi libero iure id explicabo eos, dolores unde nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vel aperiam officiis iusto suscipit, esse, illum dolore eius iste quia eaque, perspiciatis odio voluptatem sapiente rem, in amet a aliquam.</p>
	</div>
</section>
