<section class="cf bb b--black-10 pv4 pv5-ns bgc-white-offset">
  <header class="tc ph3 pv4 pv5-ns">
    <h2 class="f2 f1-ns lh-title mt0 mb2 black-70">Work &amp; Experience</h2>
    <h3 class="f5 f4-ns lh-title ma0 fw2 gray">Work In Progress...Some companies and projects I've worked for</h3>
  </header>
</section>

<section class="cf bb b--black-10 pv4 pv5-ns black-70">
  <div class="mw8 center ph3 ph4-m ph5-l">
    <ul class="list pl0 ma0">
      <li class="db mb4 pv4 bb b--black-10">
        <h3 class="f4 f3-ns lh-title lh-solid ma0 black-70">Hatch</h3>
        <h4 class="black-50 f5 fw6 db mv1">Sr. Director of Product</h4>
        <p class="color-gray">Hatch is a simple, adaptable platform designed to help retailers and brands build stronger relationships with their customers. More than a loyalty company, Hatch makes insights actionable, enabling a more personalized and meaningful customer experience for retailers of all sizes.</p>
      </li>

      <li class="db mb4 pv4 bb b--black-10">
        <h3 class="f4 f3-ns lh-title lh-solid ma0 black-70">Belly</h3>
        <h4 class="black-50 f5 fw6 db mv1">Product Manager</h4>
        <h4 class="black-50 f5 fw6 db mv1">Web Developer</h4>
      </li>

      <li class="db mb4 pv4 bb b--black-10">
        <h3 class="f4 f3-ns lh-title lh-solid ma0 black-70">Leapfrog Online</h3>
        <h4 class="black-50 f5 fw6 db mv1">Web Developer</h4>
      </li>

      <li class="db mb4 pv4 bb b--black-10">
        <h3 class="f4 f3-ns lh-title lh-solid ma0 black-70">Deluxe Reward <span class="f7">(formerly Destination Rewards)</span></h3>
        <h4 class="black-50 f5 fw6 db mv1">Program Manager</h4>
        <p class="color-gray">My objective in this position was to re-build the incentive division of our company. Working closely with our executive team, I helped develop and launch a new line of web based incentive products. Additionally, I defined the sales and marketing strategy for the line, established a process for the new incentive division, and developed client reporting metrics that are still in place today. Furthermore, I was the lead account manger for all of the clients utilizing our incentive platform, which included Fortune 500 companies such as State Farm, BBVA Compass Bank, and Wells Fargo.</p>

        <h4 class="black-50 f5 fw6 db mv1">Product Manager</h4>
        <p class="color-gray">I managed our company's gift card category, which included over 50 different brands, roughly 150 different SKU's, and accounted for over $2 million in yearly sales. My responsibilities included growing top line revenue, managing vendors, sourcing new product, and inventory management (forecasting, purchasing, etc).</p>
      </li>
    </ul>
  </div>
</section>

<!-- CSS & HTML Code Styleguide -->
<!-- Belly Locations Page -->
<!-- BLUE Platform -->
<!-- BLUE HQ -->
